@import "./base.css";
@import "./additional.css";
@import "./scrollbar.css";
@import "./cursor.css";

@media print {
  html,
  body,
  #root {
    height: auto !important;
    overflow: visible !important;
  }

  [data-hide-in-print] {
    display: none !important;
  }

  .prose * {
    break-inside: auto;
    page-break-before: auto;
    page-break-after: auto;
  }
}
